<div class="parent">

    <p style="font-weight: 500; padding-top: 20px; padding-left: 20px;">Company Metrics</p>
    <div class="card-parent">
        <mat-card class="card-style color-5 mat-elevation-z8">
            <mat-card-header style="background-color: teal; width: 8px;">
                <mat-card-title class="small-card-title" style="color: teal;">$461,399</mat-card-title>
                <mat-card-subtitle class="sub-title">Total Revenue</mat-card-subtitle>
            </mat-card-header>
        </mat-card>

        <mat-card class="card-style color-5 mat-elevation-z8">
            <mat-card-header style="background-color: teal; width: 8px;">
                <mat-card-title class="small-card-title">$620</mat-card-title>
                <mat-card-subtitle class="sub-title">Total jobs Avg</mat-card-subtitle>
            </mat-card-header>
        </mat-card>

        <mat-card class="card-style color-5 mat-elevation-z8">
            <mat-card-header style="background-color: teal; width: 8px;">
                <mat-card-title class="small-card-title">655</mat-card-title>
                <mat-card-subtitle class="sub-title">Tickets Created</mat-card-subtitle>
            </mat-card-header>
        </mat-card>

        <mat-card class="card-style color-5 mat-elevation-z8">
            <mat-card-header style="background-color: teal; width: 8px;">
                <mat-card-title class="small-card-title">755</mat-card-title>
                <mat-card-subtitle class="sub-title">Tickets Scheduled</mat-card-subtitle>
            </mat-card-header>
        </mat-card>

    </div>

    <div class="card-parent">
        <mat-card class="card-style color-5 mat-elevation-z8">
            <mat-card-header style="background-color: teal; width: 8px;">
                <mat-card-title class="small-card-title" style="color: red;">$110,384</mat-card-title>
                <mat-card-subtitle class="sub-title">Outstanding Amount</mat-card-subtitle>
            </mat-card-header>
        </mat-card>

        <mat-card class="card-style color-5 mat-elevation-z8">
            <mat-card-header style="background-color: teal; width: 8px;">
                <mat-card-title class="small-card-title">105</mat-card-title>
                <mat-card-subtitle class="sub-title">Memberships Sold</mat-card-subtitle>
            </mat-card-header>
        </mat-card>

        <mat-card class="card-style color-5 mat-elevation-z8">
            <mat-card-header style="background-color: teal; width: 8px;">
                <mat-card-title class="small-card-title">426</mat-card-title>
                <mat-card-subtitle class="sub-title">Jobs Completed</mat-card-subtitle>
            </mat-card-header>
        </mat-card>

        <mat-card class="card-style color-5 mat-elevation-z8">
            <mat-card-header style="background-color: teal; width: 8px;">
                <mat-card-title class="small-card-title">65</mat-card-title>
                <mat-card-subtitle class="sub-title">Total Cancelled</mat-card-subtitle>
            </mat-card-header>
        </mat-card>

    </div>

    <div class="row">
        <div class="col-6">
            <p style="font-weight: 500; padding-top: 20px; padding-left: 20px;">Revenue By Job Location</p>

            <div class="card-parent">
                <mat-card class="card-style-graph color-5 mat-elevation-z8">
                        <canvas id="myChart1"></canvas>
                </mat-card>
            </div>
        </div>

        <div class="col-6">

            <p style="font-weight: 500; padding-top: 20px; padding-left: 20px;">Revenue By Job Type</p>

            <div class="card-parent">
                <mat-card class="card-style-graph color-5 mat-elevation-z8">

                    <canvas id="myChart2"></canvas>

                </mat-card>
            </div>

        </div>

    </div>


</div>